<h1 mat-dialog-title>Create new contact</h1>
<hr>
<form #f = "ngForm" class="dialogbox">
<table class="form" cellspacing="0">
<tr>
<td> <img class="contactimage" src="../assets/dialog.png"></td>
<td><mat-form-field><input matInput [(ngModel)]="contact.Firstname" placeholder="First name" name="Firstname" required></mat-form-field></td>
<td><mat-form-field><input matInput [(ngModel)]="contact.Lastname" placeholder="Last name" name="Lastname"></mat-form-field></td>
</tr>
<tr>
<td><mat-icon>business</mat-icon></td>
<td><mat-form-field class="form"><input matInput [(ngModel)]="contact.Company" placeholder="Company" name="Company"></mat-form-field></td>
<td><mat-form-field class="form"><input matInput [(ngModel)]="contact.Job" placeholder="Job" name="Job"></mat-form-field></td>
</tr></table>
<table class="form">
<tr>
<td><mat-icon>mail_outline</mat-icon></td>
<td><mat-form-field class="form"><input matInput [(ngModel)]="contact.Email" placeholder="Email" name="Email" required email></mat-form-field></td>
</tr>
<tr>
<td><mat-icon>phone</mat-icon></td>
<td><mat-form-field class="form"><input matInput [(ngModel)]="contact.Phone" placeholder="Phone" name="Phone" required></mat-form-field></td>
</tr>
<tr>
<td><mat-icon>note</mat-icon></td>
<td><mat-form-field class="form"><input matInput [(ngModel)]="contact.Notes" placeholder="Notes" name="Notes"></mat-form-field></td>
</tr>
</table>
</form>
<hr>
<div class="last">
  <button mat-button color="primary" class="left">More fields</button>
  <button mat-button color="primary" class="right"(click)="onNoClick()">Cancel</button>
  <button type="submit" [disabled]="!f.valid" mat-button color="primary" class="right"(click)="createcontact()">Save</button>
</div>