img{
    width:35px;
}

table {  
    border: none;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th{
    padding: 15px;
    border-bottom: 1px solid black;
    text-align: left;

  }

td {
  text-align: left;
}

.image{
  padding: 0px;
  width:5%;
}
.name{
  padding: 15px;
}
.head{
  opacity: 1;
}
mat-icon{
  opacity: 0;
  padding:10px;
  float:right;
}

 tr:hover mat-icon {
   opacity:.5;
 }
 tr:hover .contactimage{
   background-color: #f1f3f4;
 }
 tr:hover{
   background-color: #f1f3f4;
 }

 
.firstline:hover{
  background-color: white;
}

th{
  color: #5f6368;
  font-weight: normal;
}
td .drag{
  position: absolute;
  left: -15px;
  top:0px;
}
span{
  color: #5f6368;
  font-size: 12px;
}