<div class="container">
    <span class="a">
        <mat-icon class="home">home</mat-icon>
    </span>
    <div class="board">
        <span class=a>
            <img src="../../assets/trello.png">
            <span class="bor">Boards</span></span></div>
    <div class="search">
        <mat-icon class="icon">search</mat-icon>
        <input class="searchbar" type=text>

    </div>
    <img class="centericon" src="../../assets/trello-logo-white.svg">
    <span class="a">
        <mat-icon class="user">person</mat-icon>
    </span>
</div>