.container{
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-areas: 
    "a b b c c c c c c c c d d d d d d d d d d d d d e"; 
    background-color:#026aa7;
}

.home{
    grid-area:a;
    width:30px;
    padding:5px;
}
.board{
    grid-area:b;
    display:flex;
    flex-direction:row;
}
.board img{
    width:20px;
    height:20px;
    margin: 10px;
    background-color:hsla(0,0%,100%,.3);
}
.search{
    grid-area:c;
    position: relative;
}
.searchbar{
    margin:5px;
    padding:10px;
    background-color:hsla(0,0%,100%,.3);
    border:none;
    border-radius:5px;
}
.search .icon{
    position: absolute;
    top:13px;
    left:170px;
}
.centericon{
    grid-area:d;
    width:90px;
    margin:10px ;
    opacity:.4;
    color:white;
}

.centericon:hover{
    opacity:.6;
}

.user{
   grid-area:e;
   width:30px;
    padding:5px;
}

.a > .bor{
    color:white;
    position: absolute;
    background-color:hsla(0,0%,100%,.3);
    padding:8px;
    border-radius:5px;
    font-weight: bold;
}
mat-icon{
    color:white;
}
.a{ 
    position: relative;
    margin:5px;
    background-color:hsla(0,0%,100%,.3);
    border-radius:5px;
    height:35px;
}