.container{
    display:flex;
    flex-direction:row;
}
.button{
    margin: 10px;
    width:90%;
}
.form{
    width:300px;
    margin: 10px;
    padding:10px;
    background-color: rgb(34, 52, 68);
    cursor: pointer;
    height:120px;
}
.input{
    color:white;
}