<!-- <div class="first">
    <a routerLink='/menu-dialog'>create contact</a>
</div> -->

<div>
    <table>
        <tr class="firstline">
            <th colspan="2">Name</th>
            <th>Email</th>
            <th>PhoneNo</th>
            <th><mat-icon class="head">more_vert</mat-icon></th>
        </tr>
        <tr *ngFor="let contact of contacts">
            <td class="image"><img class="contactimage" src="../assets/download.png">
            &nbsp;<mat-icon>drag_indicator</mat-icon><mat-checkbox color="primary"></mat-checkbox></td>
            <td class="name">{{contact.Firstname}}</td>
            <td class="name">{{contact.Email}}</td>
            <td class="name">{{contact.Phone}}</td>
            <td><mat-icon>more_vert</mat-icon><mat-icon>edit</mat-icon><mat-icon>star_border</mat-icon></td>
        </tr>
    </table>
</div>