 <input type= "text" [(ngModel)]="filterStatus">
<table>
        <tr class="firstline">

            <th colspan="2">
            <mat-checkbox color="primary" [(ngModel)]="Boxchecked"
                                          [(indeterminate)]="indeterminate"
                                          (change)="checkChange()">
            </mat-checkbox> <button (click)="deleteitems()">delete</button> Name</th>
            <th>Email</th>
            <th>PhoneNo</th>
            <th><mat-icon [matMenuTriggerFor]="menu" class="head">more_vert</mat-icon>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>list</mat-icon>
                    <span>Display density</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>tabel_chart_outline</mat-icon>
                    <span>Change column order</span>
                </button>
            </mat-menu></th>
        </tr>
        <tr>
            <span>CONTACTS({{count}})</span>
        </tr>
        <tr class="secondline" *ngFor="let contact of contacts | filter : filterStatus : 'Firstname'">
            <td class="image">
            <mat-checkbox color="primary" class= "checkboxrow" 
                         [(ngModel)]="contact.checked"
                         (change)="contactChange()" 
                        ></mat-checkbox></td>
            <td class="name" (click)="openContact(contact)">{{contact.Firstname}}</td>
            <td class="name" (click)="openContact(contact)">{{contact.Email}}</td>
            <td class="name" (click)="openContact(contact)">{{contact.Phone}}</td>
            <td><mat-icon >more_vert</mat-icon><mat-icon (click)="editContact(contact)">edit</mat-icon></td>
        </tr>
</table>