.title{
    display: flex;
    flex-direction: row;
}
img{
    width:50px;
    float:left;
}
div span{
    font-size: 30px;
    padding: 20px;
    text-transform: capitalize;
}
.head{
   padding-left:150px;
   margin:10px;
   float: right;
}
td{
    height:15px;
    padding-right: 8px;
    text-align: left;
  }
table{
    width:50%;
}
mat-icon{
    opacity:.4;
    cursor: pointer;
    padding:10px;
}
span{
    font-size: 30px;
}