<div id="mySidenav" class="sidenav">
<a routerLink="#"><mat-icon>perm_identity</mat-icon>&nbsp;&nbsp;&nbsp;Contacts</a>
<a routerLink="#"><mat-icon>history</mat-icon>&nbsp;&nbsp;&nbsp;Frequently contacted</a>
<a routerLink="#"><mat-icon>business</mat-icon>&nbsp;&nbsp;&nbsp;Directory</a>
<a routerLink="#"><mat-icon>filter_none</mat-icon>&nbsp;&nbsp;&nbsp;Duplicates</a>
<div style="border-bottom:1px solid lightgray;"></div>
<a routerLink="#"><mat-icon>keyboard_arrow_up</mat-icon>&nbsp;&nbsp;&nbsp;Labels</a>
<a routerLink="#"><mat-icon>add</mat-icon>&nbsp;&nbsp;&nbsp;Create Label</a>
<div style="border-bottom:1px solid lightgray;"></div>
<a routerLink="#"><mat-icon>import_contacts</mat-icon>&nbsp;&nbsp;&nbsp;Import</a>
<a routerLink="#"><mat-icon>cloud_download</mat-icon>&nbsp;&nbsp;&nbsp;Export</a>
<a routerLink="#"><mat-icon>print</mat-icon>&nbsp;&nbsp;&nbsp;Print</a>
<div style="border-bottom:1px solid lightgray;"></div>
<a routerLink="#"><mat-icon>archive</mat-icon>&nbsp;&nbsp;&nbsp;Other contacts</a>
</div>   