<div id="mySidenav" class="sidenav">
    <button mat-raised-button (click)="openDialog()">
        <svg width="36" height="36" viewBox="0 0 36 36">
            <path fill="#34A853" d="M16 16v14h4V20z"></path>
            <path fill="#4285F4" d="M30 16H20l-4 4h14z"></path>
            <path fill="#FBBC05" d="M6 16v4h10l4-4z"></path>
            <path fill="#EA4335" d="M20 16V6h-4v14z"></path>
            <path fill="none" d="M0 0h36v36H0z"></path>
        </svg>Create contact</button>
        <a routerLink='/contact'><li><mat-icon>perm_identity</mat-icon>&nbsp;&nbsp;&nbsp;<span>Contacts</span></li></a>
        <a routerLink='/frequent'><li><mat-icon>history</mat-icon>&nbsp;&nbsp;&nbsp;<span>Frequently contacted</span></li></a>
        <a routerLink='/directory'><li><mat-icon>business</mat-icon>&nbsp;&nbsp;&nbsp;<span>Directory</span></li></a>
        <a routerLink='/duplicate'><li><mat-icon>filter_none</mat-icon>&nbsp;&nbsp;&nbsp;<span>Duplicates</span></li></a>
<div style="border-bottom:1px solid lightgray;"></div>
<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
         <li><mat-icon>keyboard_arrow_up</mat-icon>&nbsp;&nbsp;&nbsp;<span>Labels</span></li>
       </mat-panel-title>
    </mat-expansion-panel-header>
       <li *ngFor="let label of labels" class="delete"><mat-icon>label_outlined</mat-icon>&nbsp;&nbsp;&nbsp;<span >{{label.name}}</span><mat-icon (click)="deleteLabel(label)" class="del">delete_outline</mat-icon></li>
       <li (click)="labelbox()"><mat-icon>add</mat-icon>&nbsp;&nbsp;&nbsp;<span >Create Label</span></li> 
</mat-expansion-panel>
<div style="border-bottom:1px solid lightgray;"></div>
<li (click)="importbox()"><mat-icon>import_contacts</mat-icon>&nbsp;&nbsp;&nbsp;<span >Import</span></li>
<li><mat-icon>cloud_download</mat-icon>&nbsp;&nbsp;&nbsp;<span>Export</span></li>
<li><mat-icon>print</mat-icon>&nbsp;&nbsp;&nbsp;<span>Print</span></li>
<div style="border-bottom:1px solid lightgray;"></div>
<li><mat-icon>archive</mat-icon>&nbsp;&nbsp;&nbsp;<span>Other contacts</span></li>
</div>